unity/projects/digital_twin_sample/Assets/GaussianAssets/sugarfine_3Dgs7000_densityestim02_sdfnorm02_level03_decim1000000_normalconsistency01_gaussperface1_col.bytes filter=lfs diff=lfs merge=lfs -text
unity/projects/digital_twin_sample/Assets/GaussianAssets/sugarfine_3Dgs7000_densityestim02_sdfnorm02_level03_decim1000000_normalconsistency01_gaussperface1_oth.bytes filter=lfs diff=lfs merge=lfs -text
unity/projects/digital_twin_sample/Assets/GaussianAssets/sugarfine_3Dgs7000_densityestim02_sdfnorm02_level03_decim1000000_normalconsistency01_gaussperface1_pos.bytes filter=lfs diff=lfs merge=lfs -text
unity/projects/digital_twin_sample/Assets/GaussianAssets/sugarfine_3Dgs7000_densityestim02_sdfnorm02_level03_decim1000000_normalconsistency01_gaussperface1_shs.bytes filter=lfs diff=lfs merge=lfs -text
